<div layout="row" layout-align="start center" class="top-toolbar">
    <div layout="row" layout-align="start center" class="left">
        <md-button class="md-fab md-mini md-hue-1 md-raised"
                   ng-click="$root.toggleMenu()" ng-disabled="$mdMedia('gt-sm')">
            <md-icon md-font-icon="material-icons" aria-label="Tootle Menu">view_headline</md-icon>
        </md-button>

        <div class="top-logo">
            <img src="assets/images/logo_white.png" alt="Logo">
        </div>
    </div>

    <div layout="row" layout-align="start center" flex>
        <md-input-container flex>
            <md-icon md-font-icon="material-icons" aria-label="Open search">search</md-icon>
            <label>Search on NoDev</label>
            <md-input aria-label="Search on NoDev" placeholder="Search on NoDev"></md-input>
        </md-input-container>
    </div>
</div>